<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-animate.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/app.js"></script>
</head>
<body>

<div ng-app="drafty" ng-controller="draftCtrl">
    <h2>Red</h2>
    <ul>
        <li ng-repeat="character in draft.red">{{character}}</li>
    </ul>
    <h2>Blue</h2>
    <ul>
        <li ng-repeat="character in draft.blue">{{character}}</li>
    </ul>
    <a ng-click="reset()">Reset</a>
    <a ng-click="next()">Next</a>
    <a ng-click="streamOverlay()">Open Overlay</a>
</div>

</body>
</html>
