@import '../../bower_components/normalize-scss/sass/normalize.scss';

@font-face {
    font-family: Exo;
    src: url(/fonts/Exo-Medium.ttf);
}

html {
    background: url(/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    font-family: Exo, sans-serif;
    overflow-x: hidden;
    height: 100vh;
    min-height: 100vh;
}

div, body, html {
    margin: 0;
    padding: 0;
}

.body-align {
    height: 100vh;
    display: flex;
    align-items: center;
}

.teams {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    .vs {
        flex: 1;
        text-align: center;
        text-transform: uppercase;
        font-size: 60px;
        margin: 2.5vh 0;
        height: 10vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .team-container {
        padding: 0;
        margin: 0;
        width: 60%;
        height: 40vh;
        display: flex;

        .team {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            flex-direction: row;

            .pick {
                width: 20%;
                text-align: center;
                transition: all linear 0.5s;
                text-transform: uppercase;
                flex-basis: 20%;
                display: flex;
                flex-flow: column;

                &::after {
                    content: '';
                    display: table;
                    clear: both;
                }
                
                .wrapper-video {
                    padding: 0 10px;
                    
                    video {
                        border-radius: 10px;
                        padding: 0;
                        width: 100%;
                        height: auto;
                        flex-basis: auto;
                    }
                }

                .character-name {
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    flex-grow: 1;
                    
                    p {
                        font-size: 28px;
                        margin: 0;
                    }
                }

                &.ng-enter {
                    transition: 2s linear all;
                    opacity: 0;

                    &.ng-enter-active {
                        opacity: 1;
                        
                        .wrapper-video {
                            video
                            {
                                animation: new-hero 1s ease-in-out;                                
                            }
                        }
                    }
                }
            }

            &.red-team {
                .pick {
                    .character-name p
                    {
                        animation: hero-name-glow-red 2s ease-in-out infinite alternate;
                    }
                    
                    video {
                        align-self: flex-start;
                        border-color: red;
                        box-shadow: 0 0 10px red;
                    }
                }
            }

            &.blue-team {
                .pick {
                    .character-name p
                    {
                        animation: hero-name-glow-blue 2s ease-in-out infinite alternate;
                    }
                    
                    video {
                        align-self: flex-end;
                        border-color: cyan;
                        box-shadow: 0 0 10px cyan;
                    }
                }
            }
        }
    }
}

//Animations for the hero names (gently pulses the relevant team colour)
@keyframes hero-name-glow-red {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px red, 0 0 70px red, 0 0 80px red, 0 0 100px red, 0 0 150px red;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px red, 0 0 35px red, 0 0 40px red, 0 0 50px red, 0 0 75px red;
    }
}

@keyframes hero-name-glow-blue {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px cyan, 0 0 70px cyan, 0 0 80px cyan, 0 0 100px cyan, 0 0 150px cyan;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px cyan, 0 0 35px cyan, 0 0 40px cyan, 0 0 50px cyan, 0 0 75px cyan;
    }
}

//TODO: Animations for new heroes when they've been added
@keyframes new-hero
{
    from {
        box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px white, 0 0 70px white, 0 0 80px white, 0 0 100px white, 0 0 150px white;
    }
    to {
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px white, 0 0 35px white, 0 0 40px white, 0 0 50px white, 0 0 75px white;
    }    
}